
#aboutinpre{
    
    background-color:red;
    font-family: cursive;
    color: black;
    padding-top:10px;
    font-size:18px;
    border-radius:20px;
padding-left: -20px;
background-color: yellowgreen;
background-color: plum;
background-image: url("C:\Users\R A M K Y\Desktop\htmlcss\image folder.html\lapback.jpg");
}
