h1{
  border: 2px solid black;height: 2cm;width: 100%;
  background-color:brown;
}
#contactid{
  margin-left:28cm;
  font-family: cursive;
}
#Emailid
{
  margin-left:-35cm;
  font-family: cursive;
}
nav{
  position:absolute;
  
  background-color: solid 2px white;height:2cm;width: 100%;
  font-family: cursive;
  font-size: 40px;
}

